body {
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

h1 {
    margin-top: 36px;
    text-align: center;

}

.scores {
    width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.scores h2 {
    font-weight: 400;
}

.scores span {
    font-weight: bold;
    font-size: 48px;
    text-align: right;
}

.result {
    width: 400px;
    margin: 10px auto;
    text-align: center;
}

.result span {
    font-weight: bold;
    font-size: 36px;
}

.result button {
    margin-top: 10px;
    padding: 12px 16px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 4px 5px hsla(0, 0%, 0%, .1);
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.result button:active {
    box-shadow: none;
}

.choices {
    display: flex;
    width: 400px;
    margin: 20px auto;
    justify-content: space-around;
}

.choices .choices__selection {
    flex: 1;
    text-align: center;   
    box-shadow: 0 4px 5px hsla(0, 0%, 0%, .1);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.choices__selection:active {
    box-shadow: none;
}

.choices__selection i {
    font-size: 56px;
}

.player {
    background-color: hsl(120, 50%, 60%);
}

.player i {
    color: white;
}

.computer {
    background-color: hsl(0, 50%, 60%);
}

.computer i {
    color: white;
}

.player.computer {
    background-color: hsl(230, 60%, 50%);
}


.notes {
    width: 400px;
    margin: 20px auto;
}

.notes__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

.notes__list li::before {
    content: '*';
    padding-right: 10px;
}